2. Image Classification Project - Scones Unlimited/stepFunction.json
{
   "Comment": "A description of my state machine",
   "StartAt": "Serialize Image Data",
   "States": {
      "Serialize Image Data": {
         "Type": "Task",
         "Resource": "arn:aws:states:::lambda:invoke",
         "OutputPath": "$.Payload.body",
         "Parameters": {
            "Payload.$": "$",
            "FunctionName": "arn:aws:lambda:us-east-1:267086714028:function:serializeImageData:$LATEST"
         },
         "Retry": [
            {
               "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
               ],
               "IntervalSeconds": 2,
               "MaxAttempts": 6,
               "BackoffRate": 2
            }
         ],
         "Next": "Image Classifier"
      },
      "Image Classifier": {
         "Type": "Task",
         "Resource": "arn:aws:states:::lambda:invoke",
         "OutputPath": "$.Payload.body",
         "Parameters": {
            "Payload.$": "$",
            "FunctionName": "arn:aws:lambda:us-east-1:267086714028:function:imageClassifier:$LATEST"
         },
         "Retry": [
            {
               "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
               ],
               "IntervalSeconds": 2,
               "MaxAttempts": 6,
               "BackoffRate": 2
            }
         ],
         "Next": "Confidence Filter"
      },
      "Confidence Filter": {
         "Type": "Task",
         "Resource": "arn:aws:states:::lambda:invoke",
         "OutputPath": "$.Payload",
         "Parameters": {
            "Payload.$": "$",
            "FunctionName": "arn:aws:lambda:us-east-1:267086714028:function:confidenceFilter:$LATEST"
         },
         "Retry": [
            {
               "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
               ],
               "IntervalSeconds": 2,
               "MaxAttempts": 6,
               "BackoffRate": 2
            }
         ],
         "End": true
      }
   }
}